@use "vars" as *;
p {
  margin: 0 0 p2r(28);
}
ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}
li {
  list-style: none;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6, .h20 {
  font-family: $basefont;
  font-weight: $headings_font_weight;
  color: $font;
  margin: $headings_margin;
  text-transform: $headings_text_transform;
  line-height: 1.2;
}

h1, .h1 {
  font-size: p2r($h1);
  margin-top: 0;
  line-height: 1;
}
h2, .h2, .ui-h2 {
  font-size: p2r($h2);
  line-height: 1.2;
}
h3, .h3, .ui-h3 {
  font-size: p2r($h2);
  line-height: 1.2;
}
h4, .h4, .ui-h4 {
  font-size: p2r($h4);
}
h5, .h5 {
  font-size: p2r($h5);
}
h6, .h6, .ui-h6 {
  font-size: p2r($h6);
  text-transform: none;
  font-weight: 700;
}
.ui-strong,
.ui-bold {
  font-weight: 700;
}
.ui-demi {
  font-weight: 600;
}


a {
  color: $link;
  text-decoration: none;
  outline: none;
  transition: color .3s, border .3s;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: $link_hover;
    }
  }
}
b, strong {
  font-weight: 700;
}
img {
  max-width: 100%;
  height: auto;
}
hr {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid $border;
  overflow: hidden;
}

table {
  border-collapse: collapse;
}
.wrapper a img {
  border: none;
  display: block;
  line-height: 0;
  font-size: 0;
}
/*---- ICONS ---- */

::selection {
  background: $font_black;
  color: #FFF;
}
::-moz-selection {
  background: $font_black;
  color: #FFF;
}
//@media (min-width: 992px) {
//  ::-webkit-scrollbar {
//    width: p2r(8);
//    height: p2r(8);
//    // background: transparent
//  }
//  ::-webkit-scrollbar-thumb {
//    width: p2r(8);
//    height: p2r(8);
//    background-color: $accent;
//  }
//  ::-webkit-scrollbar-thumb:hover {
//    background: lighten($accent, 8%);
//  }
//}

.ui-block-title {
  font-weight: 500;
  font-size: p2r(32);
  line-height: 1.3;
  margin-bottom: p2r(40);
}

.ui-section {
  padding: p2r(40);
  margin-bottom: p2r(40);
  background: $bgc;
  border-radius: p2r(8);
}

.article {
  ul {
    margin-top: p2r(20);
    margin-bottom: p2r(40);
  }

  li {
    position: relative;
    padding-left: p2r(16);
    margin-bottom: p2r(8);

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      content: '';
      width: p2r(6);
      height: p2r(6);
      border-radius: 50%;
      background-color: $primary;
    }
  }

  img {
    display: block;
  }
}

.form-field {
  margin-bottom: p2r(20);
  position: relative;
}

.ui-input {
  display: block;
  height: p2r(56);
  line-height: 1;
  //line-height: p2r(54);
  width: 100%;
  max-width: 100%;
  background: $bgc-input;
  padding: p2r(17) p2r(40) p2r(18) p2r(16);
  color: $font;
  border: 1px solid $border;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: .3s border, .3s color, .3s padding;
  border-radius: p2r(4);
  outline: 0;

  &.active {
    padding: p2r(25) p2r(14) p2r(10) p2r(16);
  }

  &::placeholder {
    color: $font;
  }

  &:focus {
    background-color: $bgc;
  }

  &::-webkit-search-cancel-button {
    -webkit-appearance: none; // Убираем крестик в Webkit-браузерах (Chrome, Safari)
    display: none;
  }

  &__search {
    padding-right: p2r(64);
    height: p2r(48);
    background-color: $bgc;
  }

  &.error {
    border-color: $error;
  }

  &-icon {
    position: absolute;
    right: p2r(15);
    top: 50%;
    transform: translateY(-50%);
    font-size: p2r(24);
    line-height: p2r(24);
  }

  &.birthday-input {
    padding-left: p2r(14);
    padding-right: p2r(14);
  }
}

.ui-label {
  font-size: p2r(14);
  color: #858585;
  margin-bottom: p2r(15);
  display: inline-block;

  &-required {
    color: $error;
  }
}

.ui-password-content {
  position: relative;
}

.ui-btn {
  outline: none;
  border: none;
  display: inline-block;
  background: $primary;
  border-radius: p2r(4);
  height: p2r(56);
  line-height: p2r(56);
  padding-left: p2r(32);
  padding-right: p2r(32);
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s, opacity 0.3s;

  &-icon {
    fill: none;
    height: p2r(24);
    max-width: p2r(48);
    display: inline-block;
    vertical-align: middle;
    margin-left: p2r(12);
    transition: filter 0.15s, stroke 0.3s;
    margin-top: p2r(-4);
    //stroke: $font_accent;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: $font_white;

      .ui-btn-icon {
        stroke: $font_white;
      }
    }
  }

  &__primary {
    background-color: $primary;
    color: $font-white;

    &:hover {
      opacity: 0.9;
    }
  }

  &__secondary {
    background: #F9F9F9;
    border: 1px solid $border;
    color: $font;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: $primary;
      }
    }
  }

  &__transparent {
    background-color: transparent;
    border: 1px solid $border;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: $primary;
      }
    }
  }

  &__mid {
    font-size: p2r(14);
    line-height: p2r(18);
    height: p2r(38);
    padding: p2r(10) p2r(20);
  }

  &__block {
    width: 100%;
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
.page {
  &-head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-socials {
      display: flex;
      column-gap: p2r(8);
    }
  }
  &-title {
    display: inline-block;
    &-wrapper {
    }

    &-sup {
      font-weight: 400;
      font-size: p2r(16);
      display: inline-block;
      vertical-align: top;
      color: $placeholder;
      margin-left: p2r(12);
    }
  }
}

.ui-badge {
  font-weight: 600;
  font-size: p2r(10);
  text-transform: uppercase;
  border: 1px solid $border_grey;
  border-radius: 2px;
  padding: p2r(4) p2r(8);
  width: max-content;

  &__dark {
    color: $font-white;
    background-color: $font;

    span {
      &:not(:last-child) {
        padding-right: p2r(6);
        margin-right: p2r(6);
        border-right: 1px solid $font-white;
      }
    }
  }
}

.color-primary {
  color: $primary;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  position: relative;
}

.custom-checkbox input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: p2r(20);
  height: p2r(20);
  margin-right: p2r(10);
  position: relative;
  cursor: pointer;
}

.checkbox-indicator {
  position: absolute;
  left: 0;
  width: p2r(20);
  height: p2r(20);
  background-color: transparent;
  border: 1px solid $border;
  border-radius: p2r(2);
  pointer-events: none;
}

.custom-checkbox input:checked + .checkbox-indicator {
  background-color: $primary;
  border-color: $primary;
}

.custom-checkbox input:checked + .checkbox-indicator::before {
  content: '';
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: p2r(10);
  height: p2r(6);
  border: 2px solid white;
  border-top: none;
  border-right: none;
}

.checkbox-label {
  font-size: p2r(14);
  letter-spacing: -0.03em;
  color: $font;
}

.error-message {
  font-size: p2r(10);
  color: $error;
  position: absolute;
  bottom: p2r(-15);
  left: 0;
}